<div class="bg-content flex mx-20 mt-2">
  <div class="flex-3">
    <img src="./assets/images/foto1-modified.jpg" class="img" alt="" />
  </div>

  <div class="flex-4 pt-28 pl-12 w-7/12">
    <div class="flex">
      <div class="leading-3 tracking-widest font-bold">Services</div>

      <div class="hr mt-1.5 ml-5 mr-7"></div>
    </div>

    <div class="flex mt-8 text-slate-500">
      <div class="flex-1">
        <div class="mr-16">
          <div class="flex justify-center">
            <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
              <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">
                Web Developer
              </h5>
              <p class="text-gray-700 text-base mb-4">
                A Web developer is a kind of programmer who specializes in the
                development of applications relating to the World Wide Web or
                distributed network applications, which typically run protocols
                like HTTP from a Web server to a client browser using associated
                programming languages like HTML/CSS, React, Angular and Laravel
                to name a few.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-1 mr-7">
        <div class="flex justify-center">
          <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
            <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">
              Landing Page
            </h5>
            <p class="text-gray-700 text-base mb-4">
              a landing page is a standalone web page, created specifically for
              a marketing or advertising campaign. It’s where a visitor “lands”
              after they click on a link in an email, or ads from Google, Bing,
              YouTube, Facebook, Instagram, Twitter, or similar places on the
              web.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
