.bg-content{
    background-color: #f6fbff;
}
.hr1 {
    height:1px;
background-color:black;
    width: 200px;

}

.hr {
  
    height:1px;
    background-color:black;
        width: 690px;
    }
.hr1 {
    height:1px;
background-color:black;
    width: 200px;

}
