<!-- padding kiri dan kanan --> 
<div class="flex px-20 pt-4 "> 
    <div class="flex-1 text-2xl">
        RADA
    </div>

    <div class="flex flex-1">
        <div class="flex justify-center items-center px-6 bg-white hover:bg-black hover:text-white cursor-pointer">
            Home
         </div>

         <div class=" flex justify-center items-center px-6 bg-white hover:bg-black hover:text-white cursor-pointer ">
            About
         </div>
         <div class="  flex justify-center items-center px-6 bg-white hover:bg-black hover:text-white cursor-pointer">
            Portofolio
         </div>

         <div class=" flex justify-center items-center px-6 bg-white hover:bg-black hover:text-white cursor-pointer">
            Service
         </div>
         <div class=" flex justify-center items-center px-6 bg-white hover:bg-black hover:text-white cursor-pointer">
            News
         </div>
         <div class="flex justify-center items-center px-6 bg-white hover:bg-black hover:text-white cursor-pointer">
            Contact
         </div>
    </div>
    
</div>



<!-- AYANGG
MACIWWWWWW YAA
CELALU ADAAAHH BUATT AKUU MUAHH -->

