<div class="bg-content flex mx-20 mt-2 mb-20">
  <div class="flex-1 sticky top-0">
    <img src="./assets/images/foto1-modified.jpg" alt="" />
  </div>

  <div class="flex-2 pt-28 pl-12">
    <div class="flex">
      <div class="leading-3 tracking-widest font-bold">ABOUT ME</div>

      <div class="hr mt-1.5 ml-5"></div>
    </div>

    <div class="flex mt-8 text-slate-500">
      <div class="flex-1">
        <div class="mr-16">
          <p>
            Hello there! My name is Alan Walker. I am a graphic designer, and
            I'm very passionate and dedicated to my work.
          </p>
          <p class="pt-2">
            With 20 years experience as a professional a graphic designer, I
            have acquired the skills and knowledge necessary to make your
            project a success.
          </p>
        </div>
      </div>

      <div class="flex-1">
        <div class=" ">
          <p class="font-bold">Name : Rada Safta Fatonah</p>
          <p class="pt-3">Address : Sumatera Selatan, Palembang</p>

          <p class="pt-3">Study : Institut Teknologi Sumatera</p>

          <p class="pt-3">Degree : Bachelor of Engineering</p>

          <p class="pt-3">Email : Radasafa354@gmail.com</p>

          <p class="pt-3">Phone : 083177148737</p>
        </div>
      </div>
    </div>

    <div class="flex mt-20">
      <div class="flex flex-1">
        <div class="font-extrabold mr-4 tracking-widest">SERVICES</div>

        <div class="hr1 mt-3 bg-red-200"></div>
      </div>

      <div class="flex flex-1">
        <div class="">INTERESTS</div>

        <div class="hr2 mt-3"></div>
      </div>
    </div>

    <div class="flex mt-10 text-slate-500">
      <div class="flex-1">
        <div class="flex justify-start items-center">
          <div class="segitiga"></div>

          <div class="ml-3">Web Developer</div>
        </div>
      </div>

      <div class="flex-1 mt-3">
        <div class="flex justify-start items-center">
          <div class="segitiga"></div>

          <div class="ml-3">Music & Cinema</div>
        </div>
      </div>
    </div>

    <div class="flex text-slate-500">
      <div class="flex-1">
        <div class="flex justify-start items-center">
          <div class="segitiga"></div>

          <div class="ml-3">Landing Page</div>
        </div>
      </div>

      <div class="flex-1">
        <div class="flex justify-start items-center">
          <div class="segitiga"></div>

          <div class="ml-3">Game & Travel</div>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="flex mt-20">
      <div class="flex-1 flex">
        <div>Education</div>
        <div class="hr1 mt-3"></div>
      </div>

      <div class="flex-1 flex">
        <div class="">Experience</div>
        <div class="hr2 mt-3"></div>
      </div>
    </div>

    <div class="flex">
      <div class="flex justify-start flex-col items-center">
        <div class="h-6 w-0.5 bg-slate-200"></div>

        <div class="bg-slate-200 style"></div>
      </div>

      <div class="pt-4 pl-4">
        <div class="flex justify-start items-end">
          <div
            class="w-28 h-8 border-2 flex rounded-lg justify-center items-center"
          >
            2016-2022
          </div>

          <div class="leading-loose">Institut Teknologi Sumatera</div>
        </div>
      </div>
    </div>
  </div>
</div>
