<div class="bg-content flex mx-20 mt-2">
  <div class="flex-3">
    <img
      src="./assets/images/foto1-modified.jpg"
      class="img sticky top-10"
      alt=""
    />
  </div>

  <div class="flex-4 pt-28 pl-12 w-7/12">
    <div class="flex">
      <div class="leading-3 tracking-widest font-bold">Portofolio</div>

      <div class="hr mt-1.5 ml-5 mr-7"></div>
    </div>

    <div class="ml-4 pt-4">
      <ul class="list-disc">
        <li>
          <a href="https://garar.id/"> Garar.id </a>
        </li>
        <!-- ... -->
      </ul>
      <div class="flex mt-8 text-slate-500">
        <div class="flex-1">
          <div class="mr-16">
            <img src="./assets/images/garar.png" alt="" />
          </div>
        </div>

        <div class="flex-1">
          <div class=" ">
            <p class="font-bold text-justify mr-7">
              Garar adalah solusi Pembayaran Digitan, untuk membeli pulsa atau
              membayar listrik dan tagihan yang lain dapat dengan mudah
              dilakukan menggunakan Garar!
            </p>
            <p>untuk melihat lebih detail bisa klik judul Garar.id</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ml-4 pt-4">
      <ul class="list-disc">
        <li>
          <a href="https://loquacious-rabanadas-968f40.netlify.app/">
            okeGarden
          </a>
        </li>
        <!-- ... -->
      </ul>
      <div class="flex mt-8 text-slate-500">
        <div class="flex-1">
          <div class="mr-16">
            <img src="./assets/images/okG.png" alt="" />
          </div>
        </div>

        <div class="flex-1">
          <div class=" ">
            <p class="font-bold text-justify mr-7">
              OKE Garden adalah sebuah layanan untuk menghubungkan produk petani
              tanaman hias serta jasa tukang taman untuk menjawab kebutuhan
              tamanmu yang lebih OK!
            </p>
            <p>untuk melihat lebih detail bisa klik judul okeGarden.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ml-4 pt-4">
      <ul class="list-disc">
        <li>
          <a href="https://personalwebprofile.netlify.app/"> JhonDoe </a>
        </li>
        <!-- ... -->
      </ul>
    </div>

    <div class="flex mt-8 text-slate-500">
      <div class="flex-1">
        <div class="mr-16">
          <img src="./assets/images/jhondoe.png" alt="" />
        </div>
      </div>

      <div class="flex-1">
        <div class=" ">
          <p class="font-bold text-justify mr-7">
            Jhon Doe adalah sebuah Personal Profil yang dibuat untuk portofolio
            pada seseorang, supaya orang lain mengetahui tentang Personal orang
            tersebut.
          </p>
          <p>untuk melihat lebih detail bisa klik judul JohnDoe.</p>
        </div>
      </div>
    </div>
    <div style="height: 200px"></div>
  </div>
</div>
