<div class="bg-content flex mx-20 mt-2">
  <div class="flex-3">
    <img src="./assets/images/foto1-modified.jpg" class="img" alt="" />
  </div>

  <div class="flex-4 pt-44 pl-12 w-7/12">
    <p class="text-5xl font-bold">RADA SAFTA FATONAH</p>

    <div class="hr my-8"></div>

    <div class="flex">
      <div class="text-2xl text-gray-500 leading-tight tracking-wide font-thin">
        Frontend
      </div>
      <div class="ml-3 text-2xl font-bold leading-tight">Developer</div>
    </div>
    <div
      routerLink="/about"
      class="w-32 border-black border-2 bg-black h-12 flex justify-center items-center mt-8 text-white hover:bg-white hover:text-black cursor-pointer"
    >
      Learn More
    </div>
  </div>
  <div></div>
</div>
